.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.game-grid {
  width: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.game-grid-item {
  border: 1px solid red;
  padding: 20px
}



